/* 
	// Certains éléments du design sont la propriété de Jonathan NOBLE
	// Copyright 2012 Antoine AUGUSTI (www.antoine-augusti.fr) - Jonathan NOBLE (http://twitter.com/Gafisme)
	// Ah, et vous savez quoi ? 42.
*/
html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block
}
body {
	line-height:1
}
ol,ul {
	list-style:none
}
blockquote,q {
	quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
	content:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
body {
	font-family:'Nunito',sans-serif;
	color:#353537;
	font-size:13px;
	background:white;
}
a img {
	border:none
}
h1,h2,h3,h4 {
	text-shadow:0px 2px 1px #d7d7d7;
	font-family:'Open Sans',cursive;
	color:#353537;
	margin-bottom:10px;
	padding-bottom:2px;
	font-weight:normal !important;
}
a {
	color:#064b74;
	text-decoration:none
}
#header {
	background:#8c8c8c;
	background:-moz-linear-gradient(top,#8c8c8c 0%,#353537 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8c8c8c),color-stop(100%,#353537));
	background:-webkit-linear-gradient(top,#8c8c8c 0%,#353537 100%);
	background:-o-linear-gradient(top,#8c8c8c 0%,#353537 100%);
	background:-ms-linear-gradient(top,#8c8c8c 0%,#353537 100%);
	background:linear-gradient(to bottom,#8c8c8c 0%,#353537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c',endColorstr='#353537',GradientType=0 );
	display:block;
	height:60px;
	position: relative;
	z-index: 2;
	-moz-box-shadow:0 5px 15px #999;
	-wekbit-box-shadow:0 5px 15px #999;
	box-shadow:0 5px 15px #999;
}
#header #header-content {
	width:802px;
	margin:0 auto;
	padding:15px 0;
}
#header #logo {
	float:left;
	margin:0;
}
#header #logo a {
	display:block;
	width:172px;
	height:30px;
	background:url(/images/logo.png) no-repeat 0 0;
}
#header #logo a,.fade,#corps a,#footer .plan a,#footer .logo_footer a {
	-webkit-transition:opacity 0.5s ease;
	-moz-transition:opacity 0.5s ease;
	-o-transition:opacity 0.5s ease;
	transition:opacity 0.5s ease;
}
#header #logo a:hover,.fade:hover,#corps a:hover,#footer .plan a:hover,#footer .logo_footer a:hover {
	opacity:0.6;
}
#header #logo a img {
	height:0px;
}
#header #social-networks {
	float:right;
	background:#555555 url(/images/tab-overlay.png) repeat-x 0 0;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	padding:5px 0px 5px 10px;
}
#header #social-networks a span.icon {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
#header #social-networks a span.icon,span.icon-contact,span.icon-corps {
	height:24px;
	width:24px;
	margin-right:12px;
	vertical-align:middle;
	display:inline-block;
	background:url(/images/icones/sprite_double.png);
	background-position-y: 0;
}
#header #social-networks a span.icon:hover {
	background-position-y: -24px;
}
#header #social-networks a span.icon.blog,span.icon-contact.blog,span.icon-corps.blog {
	background-position-x:0;
}
#header #social-networks a span.icon.contact,span.icon-contact.contact,span.icon-corps.contact {
	background-position-x:-25px;
}
#header #social-networks a span.icon.cv,span.icon-contact.cv,span.icon-corps.cv {
	background-position-x:-50px;
}
#header #social-networks a span.icon.email,span.icon-contact.email,span.icon-corps.email {
	background-position-x:-75px;
}
#header #social-networks a span.icon.facebook,span.icon-contact.facebook,span.icon-corps.facebook {
	background-position-x:-100px;
}
#header #social-networks a span.icon.feed,span.icon-contact.feed,span.icon-corps.feed {
	background-position-x:-125px;
}
#header #social-networks a span.icon.github,span.icon-contact.github,span.icon-corps.github {
	background-position-x:-150px;
}
#header #social-networks a span.icon.gmail,span.icon-contact.gmail,span.icon-corps.gmail {
	background-position-x:-175px;
}
#header #social-networks a span.icon.instagram,span.icon-contact.instagram,span.icon-corps.instagram {
	background-position-x:-200px;
}
#header #social-networks a span.icon.portable,span.icon-contact.portable,span.icon-corps.portable {
	background-position-x:-225px;
}
#header #social-networks a span.icon.skype,span.icon-contact.skype,span.icon-corps.skype {
	background-position-x:-250px;
}
#header #social-networks a span.icon.success,span.icon-contact.success,span.icon-corps.success {
	background-position-x:-275px;
}
#header #social-networks a span.icon.twitter,span.icon-contact.twitter,span.icon-corps.twitter {
	background-position-x:-300px;
}
#header #social-networks a span.icon.work,span.icon-contact.work,span.icon-corps.work {
	background-position-x:-325px;
}
#header #social-networks a span.icon.youtube,span.icon-contact.youtube,span.icon-corps.youtube {
	background-position-x:-350px;
}
#wrap {
	background:#F0F0F0 url(/images/tile.gif) repeat -70% 0;
	position: relative;
	z-index: 1;
}
#wrap-inner {
	background:url(/images/big-fade.png) repeat-x -70% 0;
}
#corps {
	background:url('/images/corps.png');
	background-repeat:repeat-y;
	line-height:22px;
	padding:20px 24px 30px 24px;
	width:814px;
	margin:0 auto;
}
#corps.justify p,#corps p.justify {
	text-indent:20px;
	margin-bottom:15px;
	text-align:justify;
}
#corps a:hover {
	border-bottom:1px dashed #064b74
}
#footer {
	font-size:11px;
	font-family:Arial;
	background:url('/images/bg_footer.png') repeat-x;
	height:199px;
	display:block;
	margin-top:-37px;
}
#footer #footer_content {
	width:850px;
	margin:0 auto;
	padding:60px 0px 20px 0px
}
#footer .ligne {
	background:url('/images/ligne_footer.png');
	height:101px;
	width:2px;
	display:inline
}
#footer span.bleu {
	text-shadow:0px 2px 1px #000;
	color:#5b83c1;
	font-weight:bold
}
#footer .about {
	text-shadow:0px 1px 1px #000;
	margin:0px 30px;
	line-height:17px;
	width:280px;
	text-align:justify;
	color:#FFF;
	float:left
}
#footer .plan {
	text-shadow:0px 1px 1px #000;
	margin:0px 30px;
	line-height:15px;
	width:160px;
	text-align:justify;
	color:#FFF;
	float:left
}
#footer .plan a {
	margin-left:15px;
	color:#FFF
}
#footer .plan a:hover {
	text-decoration:underline
}
#footer .logo_footer {
	text-shadow:0px 2px 1px #000;
	float:right;
	margin:0px;
	width:235px;
	line-height:17px;
	color:#FFF;
}
#footer .fleche_footer {
	width:10px;
	height:10px;
	vertical-align:-25%;
	margin-right:5px
}
#footer .logo_footer a {
	color:#FFF
}
#footer .logo_footer a:hover {
	text-decoration:underline
}
.clear {
	clear:both;
}
.corps-left {
	float:left;
	width:397px;
	padding-right:10px;
}
.corps-right {
	float:right;
	width:397px;
	padding-left:10px;
}
.corps-right .inside-square {
	margin-left:10px;
}
.corps-right .gray-post {
	height:306px;
}
.margin-bottom-30 {
	margin-bottom:30px;
}
.inside-square {
	list-style:inside square;
	margin-left:25px;
}
.img_404 {
	float:right;
	width:350px;
	height:350px;
	margin-top:60px;
}
.rick_roll {
	width:640px;
	margin:20px auto;
}
.erreur {
	margin:0 auto 20px;
	padding:10px 20px;
	background:#fff9d7;
	border:1px solid #e2c822;
	color:#333;
	font-size:13px
}
.left {
	float:left;
}
.right {
	float:right;
}
.justify {
	text-align:justify;
}
.italic {
	font-style:italic;
}
.barred {
	text-decoration:line-through;
}
.no-margin-bottom {
	margin-bottom:0px;
}
.gray-post {
	background:#f5f5f5;
	border:1px solid #e5e5e5;
	padding:10px;
	margin-bottom:40px;
	color:#666;
}
.linear-gray {
	border-radius:5px;
	background-image:-moz-linear-gradient(top,#fff,#f1f1f1);
	/* FF3.6 */ background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(1,#f1f1f1));
	/* Saf4+,Chrome */ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f1f1f1');
	/* IE6,IE7 */ -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f1f1f1')";
	/* IE8 */ border:1px solid #d5d5d5;
	-moz-border-radius:3px;
	margin-bottom:40px;
	padding:10px;
}
.icon-website-tq {
	width:100px;
	margin:15px 0px 0px 20px;
	float:right;
	height:100px;
}
.icon-website-pretty-web {
	width:167px;
	margin:15px 0px 0px 20px;
	float:right;
	height:30px;
}
.icon-website-ango {
	width:200px;
	margin:10px 0px 0px 20px;
	float:right;
	background:#FAFAFA;
	padding:4px;
	border:1px solid #DDD;
	-moz-box-shadow:5px 5px 7px #999;
	box-shadow:5px 5px 7px #999;
	-webkit-box-shadow:5px 5px 7px #999;
}
.icon-website-it {
	width:150px;
	margin:20px 0px 0px 20px;
	float:right;
}
.icon-website-pls {
	width:150px;
	margin:5px 0px 0px 20px;
	float:right;
}
.icon-website-technostress {
	width:200px;
	margin:5px 0px 0px 20px;
	float:right;
}
.icon-contact {
	margin:0px 20px 10px 0px !important;
	vertical-align:-17px !important;
}
.icon-corps {
	margin-right:30px !important;
	vertical-align:-10% !important;
}
.icon-link-website {
	height:16px;
	width:16px;
	margin-right:5px;
	vertical-align:-4px;
}
.avatar {
	background:#FAFAFA;
	padding:4px;
	border:1px solid #DDD;
	-moz-box-shadow:5px 5px 7px #999;
	box-shadow:5px 5px 7px #999;
	-webkit-box-shadow:5px 5px 7px #999;
	height:150px;
	width:150px;
	float:right;
	margin-left:20px;
	-webkit-transition:-webkit-transform .8s ease;
	-moz-transition:-moz-transform .8s ease;
	-ms-transition:-ms-transform .8s ease;
	-o-transition:-o-transform .8s ease;
	transition:transform .8s ease
}
.avatar:hover {
	-webkit-transform:rotate(7deg);
	-moz-transform:rotate(7deg);
	transform:rotate(7deg);
}
#wrap,#logo,#header,#content,#footer {
	display: none
}